<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>OJILZTAG</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <style>
            @media only screen and (max-width: 600px){
                .logo{
                  height: 100%;
                  width:20%;
                }
              }
              @media only screen and (min-width: 601px)  {
                .logo{
                    height: 100%;
                    width:10%;
                  }
                }
                
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <div class="container px-4 px-lg-5">
                
                    <img class="logo" src="image/logo.png" alt="" width="30" height="24">
                <!-- //search -->
           
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
                    <ul class="navbar-nav  mb-2 mb-lg-0 ms-lg-4 ms-auto">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Homes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Land</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Plots</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Vehicle</a></li>
                        <li class="nav-item"><a href="/admin" class="nav-link">admin</a></li>
                        <li class="nav-item"><form action="" method="post">
                            <div class="input-group">
                                <input class="form-control border-end-0 border rounded-pill search" type="search" id="example-search-input" placeholder="Search">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                    
                    </form></li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li> -->
                    </ul>
                    <!-- <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form> -->
                </div>
            </div>
        </nav>

        <!-- Header-->
