<!-- facing -->
<div class="form-group p-1">
    <label for="plotF">Facing</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>East</option>
      <option value="1">North</option>
      <option value="2">North-East</option>
      <option value="3">North-West</option>
      <option value="2">South</option>
      <option value="2">South-East</option>
      <option value="2">South-West</option>
      <option value="2">West</option>
    </select>
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>