<div class="form-group p-1">
    <label for="plotBd">Furnishing</label>
    <select class="form-select" name="furnish" aria-label="Default select example">
      <!-- <option selected>1</option> -->
      <option value="1">Furnished</option>
      <option value="2">Semi Furnished</option>
      <option value="3">Unfurnished</option>
    </select>
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>