<!-- price -->

<label for="pPrice">SET A PRICE</label>
       
<!-- end -->
 <div class="input-group mb-3">
   <div class="input-group-prepend">
     <span class="input-group-text">₹</span>
   </div>
   <input type="number"  name="pPrice" class="form-control" id="pPrice" autocomplete="off" placeholder="Price" >
 </div>