<!-- project name -->
<div class="form-group p-1">
    <label for="plotPn">Project Name</label>
    <input type="text"  name="plotPn" class="form-control" id="plotPn"  placeholder="Project Name"  autocomplete="off">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>