<div class="form-group p-1">
    <label for="pName">Type</label>
    <select class="form-select" aria-label="Default select example" name="ploSel1">

      <%type.forEach((data)=>{%>
        <option><%=data%></option>
        <%}) %>
      
    
    </select>
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>